{% load static %}
<link rel="stylesheet" href="{% static 'account/login.css' %}">
<div class="login">
  <div class="heading">
    <h2>Sign in</h2>
    <form method="POST">{% csrf_token %}

      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" name="email" placeholder="email">
          </div>

        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" name="password" class="form-control" placeholder="Password">
        </div>

        <button type="submit" class="float">Login</button>
       </form>
 		</div>
 </div>